.el-message {
  // left: 90%;
  left: unset;
  top: 12px !important;
  transform: translateX(0);
  right: 0px;
  min-width: 200px;
}
.el-table__header-wrapper {
  th {
    // text-align:center;
  }
}
.el-tree::-webkit-scrollbar,
.el-menu::-webkit-scrollbar,
.main_header::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
.el-tree::-webkit-scrollbar-thumb,
.el-menu::-webkit-scrollbar-thumb,
.main_header::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(112, 110, 110, 0.2);
  background: rgba(144, 147, 153, 0.3);
}
.el-tree::-webkit-scrollbar-track,
.el-menu::-webkit-scrollbar-track,
.main_header::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(235, 225, 225, 0.8);
  border-radius: 10px;
  background: #f7f5f5;
}
.el-upload-list__item.is-success.focusing .el-icon-close-tip {
  display: none !important;
}
.el-tooltip__popper.is-dark {
  max-width: 500px;
}
.uploadMessage {
  left: 50%;
  top: 200px !important;
  transform: translateX(-50%);
  right: 0px;
  width: 360px;
}
.message2 {
  top: 200px !important;
  transform: translateX(-50%);
  right: 100px !important;
  width: 320px;
}

.message3 {
  top: 200px !important;
  transform: translateX(-50%);
  right: 440px !important;
  width: 320px;
}
.message4 {
  left: 12%;
  top: 200px !important;
  right: 0px;
  width: 260px;
}
// 项目概况
.projectStatistics_container {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;

  .btns::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 2px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 3px;
  }

  .btns::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(112, 110, 110, 0.2);
    background: rgba(144, 147, 153, 0.3);
  }

  .btns::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(235, 225, 225, 0.8);
    border-radius: 10px;
    background: #f7f5f5;
  }

  .btns_wrap {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .el-icon-arrow-left,
    .el-icon-arrow-right {
      height: 43px;
      line-height: 43px;
      cursor: pointer;
      padding: 0 6px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      border-bottom: 3px solid rgba(144, 147, 153, 0.3);
      &:hover {
        color: #409eff;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
      }
    }
    .el-button {
      border-top: 0;
      border-bottom: 0;
    }
  }
  .btns {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    border-top: 1px solid #ebeef5;
    box-sizing: border-box;
    position: relative;
    .isActive.el-button {
      color: #fff;
      background: #409eff;
    }
    .el-button {
      color: #606266;
    }
  }
  .content_wrap {
    border: 1px solid #ebeef5;
    border-top: 0;
  }
}
// 进度
.rate_container {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  .pointNum:hover {
    color: #fff;
    background: #409eff;
  }
  .pointNum {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
    opacity: 0.9;
  }
  .normalpot {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    opacity: 0.9;
  }
  .wrap.isColl {
    ._left {
      width: 10px;
      overflow: hidden;
      .el-form {
        opacity: 0;
        margin-top: 40px;
      }
    }
    ._right {
      width: calc(100% - 30px);
    }
  }
  .wrap {
    position: relative;
    .changeIcon {
      position: absolute;
      top: 50%;
      left: 285px;
      cursor: pointer;
      font-size: 40px;
      color: #999;
    }
    .el-icon-caret-right {
      top: 50%;
      left: -5px;
    }
  }
}
// 出入库
.ware_wrap {
  height: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
}
// 系统管理
.setting_wrap {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
//同意例头
.vux-flexbox {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}
.vux-flex-row {
  flex-direction: row;
}
.content-flex {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 0;
}
.el-table__row,
.vxe-cell {
  .clickbg {
    background: #e9ebed;
    text-align: center;
    color: #172b4d;
    border-radius: 4px;
    padding: 4px 0px;
    width: 80px;
    margin: auto;
    cursor: pointer;
    &:hover {
      background: #91e4e7;
      color: #fff;
    }
  }
}
